@mixin rotate($duration, $method, $delay:0) {
    animation: rotate $duration $method infinite;
    animation-delay: $delay;
}

@mixin tick($timing, $duration, $delay:0) {
    animation: tick $timing $duration infinite;
    animation-delay: $delay;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}