@use '../1-helpers/mixins';
@use '../1-helpers/vars';

.clock {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: vars.$granny-smith;
    margin: 0 auto;
    position: relative;
}

.hand {
    position: absolute;
    left: calc(50% - 8px);
    top: 50%;
    width: 16px;
    height: 160px;
    background-color: vars.$middle-green;
    transform-origin: center 0;
    @include mixins.keyframes(rotate) {
        to { transform: rotate(1turn); }
        from { transform: rotate(0); }
    }
}

.second.hand {
    @include mixins.rotate(steps(60), vars.$minute);
}

.minute.hand {
    @include mixins.rotate(linear, vars.$hour);
}

.hour.hand {
    @include mixins.rotate(linear, (vars.$hour * 12));
}